.price-box {
    box-shadow: 0 1px 15px rgba(12, 12, 20, 0.5);
    height: 3000px;
}

#total,
#list-price {
    padding-bottom: 10px;
    padding-top: 30px;
    position: relative;
    bottom: 943px;
    left: 70px;
    width: 100%;
    height: fit-content;
}
#list-price {
    border-bottom: 4px solid black;
}

h1 {
    padding-top: 50px;
    text-align: center;
    height: fit-content;
    width: 100%;
    text-decoration: underline;
}
h2 {
    width: 815px;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
}
