.ui-menu-item-wrapper {
    padding-bottom: 1500px;
}
.calendar {
    display: none;
    margin-left: 360px;
    width: fit-content;
    height: fit-content;
}

.calendarIcon {
    margin-left: 550px;
    margin-top: -60px;
}

.form-label {
    font-weight: bold;
}

.left-choice {
    float: left;
    width: 50%;
}

.warning {
    font-size: 12px;
    color: red;
    margin-left: 80px;
}

.td:hover {
    cursor: pointer;
}