.ui-menu-item-wrapper {
    padding-bottom: 1500px;
}
.calendar {
    display: none;
    margin-left: 360px;
    width: fit-content;
    height: fit-content;
}

.calendarIcon {
    margin-left: 550px;
    margin-top: -60px;
}
.calendarIcon:hover {
    cursor: pointer;
}
.form-label {
    font-weight: bold;
}

.left-choice {
    float: left;
    width: 50%;
}
#length-options {
    height: 34.8px;
    width: 97%;
}
.td:hover {
    cursor: pointer;
}