img {
    height: auto;
    max-width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #worldNav {
      background-color: #000000;
      padding: 30px; } }
  @media only screen and (max-width: 767px) {
    #worldNav {
      background-color: #000000;
      padding: 15px 15px 30px 15px; } }