img {
    height: auto;
    max-width: 100%;
}

.header-area.sticky {
  background-color: black;
  margin-top: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.header-area {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  margin-top: 20px;
  left: 0;
  z-index: 300;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.navbar-nav {
  margin-left: 20em;
}

.nav-link {
  color: grey;
  font-weight: 500;
}

.nav-link:hover {
  color: white;
}
